<h1>Calculator in Angular</h1>
<main>
  <div class="calculator card">
    <input type="text" class="calculator-screen z-depth-1" [value]="displayValue" disabled />
    <div class="calculator-keys">
      <button
        type="button"
        data-mdb-button-init
        class="operator btn btn-info"
        value="+"
        (click)="onButtonClick('+')"
      >
        +
      </button>
      <button
        type="button"
        data-mdb-button-init
        class="operator btn btn-info"
        value="-"
        (click)="onButtonClick('-')"
      >
        -
      </button>
      <button
        type="button"
        data-mdb-button-init
        class="operator btn btn-info"
        value="*"
        (click)="onButtonClick('*')"
      >
        &times;
      </button>
      <button
        type="button"
        data-mdb-button-init
        class="operator btn btn-info"
        value="/"
        (click)="onButtonClick('/')"
      >
        &divide;
      </button>

      <button
        type="button"
        data-mdb-button-init
        value="7"
        data-mdb-ripple-init
        class="btn btn-light waves-effect"
        (click)="onButtonClick('7')"
      >
        7
      </button>
      <button
        type="button"
        data-mdb-button-init
        value="8"
        data-mdb-ripple-init
        class="btn btn-light waves-effect"
        (click)="onButtonClick('8')"
      >
        8
      </button>
      <button
        type="button"
        data-mdb-button-init
        value="9"
        data-mdb-ripple-init
        class="btn btn-light waves-effect"
        (click)="onButtonClick('9')"
      >
        9
      </button>

      <button
        type="button"
        data-mdb-button-init
        value="4"
        data-mdb-ripple-init
        class="btn btn-light waves-effect"
        (click)="onButtonClick('4')"
      >
        4
      </button>
      <button
        type="button"
        data-mdb-button-init
        value="5"
        data-mdb-ripple-init
        class="btn btn-light waves-effect"
        (click)="onButtonClick('5')"
      >
        5
      </button>
      <button
        type="button"
        data-mdb-button-init
        value="6"
        data-mdb-ripple-init
        class="btn btn-light waves-effect"
        (click)="onButtonClick('6')"
      >
        6
      </button>

      <button
        type="button"
        data-mdb-button-init
        value="1"
        data-mdb-ripple-init
        class="btn btn-light waves-effect"
        (click)="onButtonClick('1')"
      >
        1
      </button>
      <button
        type="button"
        data-mdb-button-init
        value="2"
        data-mdb-ripple-init
        class="btn btn-light waves-effect"
        (click)="onButtonClick('2')"
      >
        2
      </button>
      <button
        type="button"
        data-mdb-button-init
        value="3"
        data-mdb-ripple-init
        class="btn btn-light waves-effect"
        (click)="onButtonClick('3')"
      >
        3
      </button>

      <button
        type="button"
        data-mdb-button-init
        value="0"
        data-mdb-ripple-init
        class="btn btn-light waves-effect"
        (click)="onButtonClick('0')"
      >
        0
      </button>
      <button
        type="button"
        data-mdb-button-init
        class="decimal function btn btn-secondary"
        value="."
        (click)="onButtonClick('.')"
      >
        .
      </button>
      <button
        type="button"
        data-mdb-button-init
        class="all-clear function btn btn-danger btn-sm"
        value="all-clear"
        (click)="onButtonClick('all-clear')"
      >
        AC
      </button>

      <button
        type="button"
        data-mdb-button-init
        class="equal-sign operator btn btn-secondary"
        value="="
        (click)="onButtonClick('=')"
      >
        =
      </button>
    </div>
  </div>
</main>

<router-outlet />
